/* share links */

.clearfix {
    clear: both;
}

@font-face {
    font-family: 'Mono Social Icons Font';
    src: url('../fonts/MonoSocialIconsFont-1.10/MonoSocialIconsFont-1.10.eot');
    src: url('../fonts/MonoSocialIconsFont-1.10/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'), url('../fonts/MonoSocialIconsFont-1.10/MonoSocialIconsFont-1.10.woff') format('woff'), url('../fonts/MonoSocialIconsFont-1.10/MonoSocialIconsFont-1.10.ttf') format('truetype'), url('../fonts/MonoSocialIconsFont-1.10/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
    src: url('../fonts/MonoSocialIconsFont-1.10/MonoSocialIconsFont-1.10.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.social-symbol {
    font-family: 'Mono Social Icons Font';
    font-size: 45px;
}

a.social-symbol {
    cursor: pointer;
}


/* base styles */

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: sans-serif;
    color: #505050;
    background-color: #21180d;
}

a {
    text-decoration: none;
    color: #bf3211;
}

a:hover {
    color: #f0efd1;
    background-color: #bf3211;
    -webkit-transition: .3s;
    transition: .3s;
}

::selection {
    /*background: #fe6;*/
    background: #FFDB58;
}

h1, h2, h3, h4 {
    font-weight: 900;
}

h1 {
    font-size: 2em;
    color: #000;
    word-wrap: break-word;
    text-transform: uppercase;
}

h2 {
    font-size: 1.9em;
    color: #000;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1em;
    color: #787878;
    text-transform: uppercase;
}

p {
    line-height: 1.625;
}

blockquote {
    padding: .5rem 1rem;
    margin-bottom: 1rem;
    font-size: 1.25rem;
    border-left: .25rem solid #eceeef;
}


/* containers and grid */

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 40px;
}

.main {
    background-color: #fff;
    padding: 0 00 2em 0;
}

@media (min-width: 871px) {
    /* only align right when in a column */
    .col-right {
        text-align: right;
    }
    /* fill the empty div when in a column */
    .col-fill {
        min-height: 1px;
    }
}

.row {
    margin: 0;
    overflow: auto;
}

.col {
    float: left;
}

.table, .c12 {
    width: 100%;
}

.c11 {
    width: 91.66%;
}

.c10 {
    width: 83.33%;
}

.c9 {
    width: 75%;
}

.c8 {
    width: 66.66%;
}

.c7 {
    width: 58.33%;
}

.c6 {
    width: 50%;
}

.c5 {
    width: 41.66%;
}

.c4 {
    width: 33.33%;
}

.c3 {
    width: 25%;
}

.c2 {
    width: 16.66%;
}

.c1 {
    width: 8.33%;
}


/* For smaller screens, change all columns to 100% width */

@media (max-width: 870px) {
    .row .col {
        width: 100%;
    }
}


/* page headers */

.page-header {
    margin-bottom: 2em;
}

.page-header h1, .page-header h4 {
    margin: 0;
}

.page-header-title {
    padding: 1em 0;
    border-bottom: 1px solid #d9dcdd;
}

.page-subheader {
    padding: 1em 0;
    border-bottom: 3px solid #d9dcdd;
}

.page-header-title h1 a {
    color: #000;
}

.page-header-title h1 a:hover {
    color: #f0efd1;
}

/* hero (main page header) */

.hero-blurb {
    font-size: 1.5em;
    margin: 0;
}


/* articles styles (main page article summaries) */

.articles-nav {
    font-weight: 900;
    font-size: 1.5em;
    text-transform: uppercase;
}

.article-short {
    margin-bottom: 2em;
    padding-bottom: 2em;
    border-bottom: 1px solid #d9dcdd;
}

.article-short-header {
    padding-right: 1em;
}

.article-short-header h2 {
    margin: 0.5em 0;
}

.article-short-content {
    /*padding-left: 2em;*/
}


/* post/article pages */

.article-title {
    border-bottom: 1px solid #d9dcdd;
}

.article-header {
    border-bottom: 3px solid #d9dcdd;
    padding: 1em 0;
    margin-bottom: 2em;
}

.backlink:hover .backlink-details {
    display: inline;
}

.backlink-details {
    display: none;
}

.post .article-entry {
    margin-bottom: 3em;
    border-bottom: 1px solid #d9dcdd;
}

.tags a, .tag {
    background-color: #b4b4b4;
    border-radius: 3px;
    color: #fff;
    font-size: 0.75em;
    padding: 3px 7px;
    text-transform: uppercase;
    white-space: nowrap;
    line-height: 2.25;
}

.tags a:hover {
    background-color: #000;
    color: #fff;
}


/* page footers */

.page-footer {
    background-color: #21180d;
    color: #f9f8cc;
    font-size: 2em;
    margin: 0;
    padding: 1em 0;
}

.page-footer a {
    color: #f9f8cc;
}


/* form styles */

label > * {
    display: inline;
}

form > * {
    display: block;
    margin-bottom: 10px;
}

textarea, input, select {
    border: 1px solid #ccc;
    padding: 8px;
}

textarea:focus, input:focus, select:focus {
    border-color: #bf3211;
}

textarea, input[type=text] {
    -webkit-appearance: none;
    /* make iOS inputs pretty */
    width: 100%;
    outline: 0;
}

.addon {
    box-shadow: 0 0 0 1px #ccc;
    padding: 8px 12px;
}

input, textarea, .article-entry input {
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1.5em;
    font-family:sans-serif ;
    margin: 1em 0;
    width: 100%;
    background: #fff;
    border-radius: 3px;
}

input[type=submit] {
    color: #f0efd1;
    background-color: #bf3211;
    cursor: pointer;
}

input[type=submit]:hover {
    color: #f0efd1;
    background-color: #21180d;
    cursor: pointer;
    -webkit-transition: .3s;
    transition: .3s;
}

textarea {
    min-height: 200px;
}


/* highlighting styles */

.article-entry pre, .article-entry .highlight {
    background: #21180d;
    margin: 0 -20px;
    padding: 15px 20px;
    border-style: solid;
    border-color: #ddd;
    border-width: 1px 0;
    overflow: auto;
    color: #ccc;
    line-height: 22.400000000000002px;
}

.article-entry .highlight .gutter pre {
    color: #666;
    font-size: 0.85em;
}

.article-entry pre, .article-entry code {
    font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
}

.article-entry code {
    background: #eee;
    text-shadow: 0 1px #fff;
    padding: 0 0.3em;
}

.article-entry pre code {
    background: none;
    text-shadow: none;
    padding: 0;
}

.article-entry .highlight pre {
    border: none;
    margin: 0;
    padding: 0;
}

.article-entry .highlight table {
    margin: 0;
    width: auto;
}

.article-entry .highlight td {
    border: none;
    padding: 0;
}

.article-entry .highlight figcaption {
    font-size: 0.85em;
    color: #999;
    line-height: 1em;
    margin-bottom: 1em;
}

.article-entry .highlight figcaption:before, .article-entry .highlight figcaption:after {
    content: "";
    display: table;
}

.article-entry .highlight figcaption:after {
    clear: both;
}

.article-entry .highlight figcaption a {
    float: right;
}

.article-entry .highlight .gutter pre {
    text-align: right;
    padding-right: 20px;
}

.article-entry .highlight .line {
    height: 22.400000000000002px;
}

.article-entry .highlight .line.marked {
    background: #515151;
}

pre .comment, pre .title {
    color: #999;
}

pre .variable, pre .attribute, pre .tag, pre .regexp, pre .ruby .constant, pre .xml .tag .title, pre .xml .pi, pre .xml .doctype, pre .html .doctype, pre .css .id, pre .css .class, pre .css .pseudo {
    color: #f2777a;
}

pre .number, pre .preprocessor, pre .built_in, pre .literal, pre .params, pre .constant {
    color: #f99157;
}

pre .class, pre .ruby .class .title, pre .css .rules .attribute {
    color: #9c9;
}

pre .string, pre .value, pre .inheritance, pre .header, pre .ruby .symbol, pre .xml .cdata {
    color: #9c9;
}

pre .css .hexcolor {
    color: #6cc;
}

pre .function, pre .python .decorator, pre .python .title, pre .ruby .function .title, pre .ruby .title .keyword, pre .perl .sub, pre .javascript .title, pre .coffeescript .title {
    color: #69c;
}

pre .keyword, pre .javascript .function {
    color: #c9c;
}